[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/teraranger_ros2"]
	path = src/teraranger_ros2
	url = https://github.com/simutisernestas/teraranger_ros2.git
