[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/teraranger_ros2"]
	path = src/teraranger_ros2
	url = https://github.com/simutisernestas/teraranger_ros2.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/mocap_optitrack"]
	path = src/mocap_optitrack
	url = https://gitlab.gbar.dtu.dk/s222383/mocap_optitrack.git
