[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/teraranger_ros2"]
	path = src/teraranger_ros2
	url = https://github.com/simutisernestas/teraranger_ros2.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/mocap_optitrack"]
	path = src/mocap_optitrack
	url = https://gitlab.gbar.dtu.dk/s222383/mocap_optitrack.git
[submodule "src/octomap_mapping"]
	path = src/octomap_mapping
	url = https://github.com/VictorVigara/octomap_mapping.git
[submodule "path_planning"]
	path = path_planning
	url = https://github.com/VictorVigara/path_planning.git
[submodule "src/path_planning"]
	path = src/path_planning
	url = https://github.com/VictorVigara/path_planning.git
[submodule "src/livox_ros_driver2"]
	path = src/livox_ros_driver2
	url = https://github.com/VictorVigara/livox_ros_driver2.git
